<section class="login">
    <div class="container">
      <div class="form-col">
        <div class="form-container">
          <div class="login-header">
            <h1 class="title">Login</h1>
            <p class="description">Please login to continue</p>
          </div>
          <form [formGroup]="foodForm" (ngSubmit)="onSubmit()" class="login-form">
            <div class="email">
              <label>Email</label>
              <input
                class="login-input"
                type="text"
                formControlName="email"
                placeholder="Email Adress"
                [ngStyle]=""
              />
              <span
                *ngIf="(foodForm.controls['email'].touched || submitted) && foodForm.controls['email'].errors?.['required']"
                class="err-message"
              >
                Email required
              </span>
  
              <span
                *ngIf="foodForm.controls['email'].touched || foodForm.controls['email'].errors?.['email']"
                class="err-message"
              >
                Enter a valid email address
              </span>
            </div>
  
            <div class="password">
              <label>Password</label>
              <input
                class="login-input"
                type="password"
                formControlName="password"
                placeholder="Password"
              />
              <span
                *ngIf="foodForm.controls['password'].touched || submitted"
                class="err-message"
              >
              Min 5 characters
              </span>
            </div>
            <div class="btn">
              <button type="submit" class="login-btn">Login</button>
            </div>
          </form>
          <div class="login-options">
            <p>Or Login With</p>
            <div class="icons">
              <img class="icon" src="../assets/icons/facebook.png">
              <img class="icon" src="../assets/icons/twitter.png">
              <img class="icon" src="../assets/icons/google.png">
            </div>
          </div>
        </div>
      </div>
      <div class="img-col">
      </div>
    </div>
  </section>
  