<app-layout-template>
<nav>
  <div class="nav-container">
    <div>
      <a href="/" class="brand">CuisineCrafter</a>
    </div>
    <ul class="nav-links">
      <li><a href="/" class="link-item-active">Home</a></li>
      <li><a href="/instructions" class="link-item">Categories</a></li>
      <li><a href="/recipes" class="link-item">Recipes</a></li>
      <li><a href="#" class="link-item">Contact</a></li>
      <li><a href="#" class="link-item">About</a></li>
    </ul>
    <div>
     <button class="btn-secondary">Register</button>
     <button class="btn-primary">Login</button>
    </div>
  </div>
</nav>
</app-layout-template>
