.trending {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 800px;

    h1 {
        font-family: Open-sans;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        position: relative;
        
        &:before {
            content: '';
            display: block;
            width: 45px;
            height: 3px;
            background: #1D741B;
            position: absolute;
            bottom: 0;
            left: 5px;
            border-radius:2px;
        }
    }
}

.trending-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    justify-items: center;
    align-items: center;
}