  <nav>
    <div class="nav-container">
      <div class="search-header">
        <div>
          <a (click)="navigateTo('/')" class="brand">CuisineCrafter</a>
        </div>
        <form [formGroup]="recipeSearchForm" (ngSubmit)="onSubmit()">
          <div class="icon-search" type="submit">
            <fa-icon [icon]="faSearch"></fa-icon>
          </div>
          <input class="recipe-search" type="text" formControlName="recipe" />
          <div class="icon-list"><fa-icon [icon]="faList"></fa-icon></div>
        </form>
        <div class="recipes-saved">
          <span class="favorites" (click)="onShowModal()">
            <fa-icon [icon]="faHeart"></fa-icon>
            Favorites
          </span>
          <span class="cart">
            <fa-icon [icon]="faCartShopping"></fa-icon>
            Cart
          </span>
        </div>
      </div>
      <ul class="links-header">
        <li><a (click)="navigateTo('/')" class="link-item">Home</a></li>
        <li><a (click)="navigateTo('/instructions')" class="link-item">Categories</a></li>
        <li><a (click)="navigateTo('/recipes')" class="link-item">Recipes</a></li>
      </ul>
    </div>
  </nav>