<div class="large-article">
    <div class="image-container">
        <img src="../../../assets/background/articoleblogimage.png" alt="article image">
    </div>
    <div class="article-date">
        <p>May 20, 2018</p>
    </div>
    <div class="article-title">
        <h2>Our Recipes Blog</h2>
    </div>
    <div class="article-exceper">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nunc ut aliquam aliquam, nunc
        turpis lacinia nisl, eget aliquam nunc nisl sit amet nisl. Sed euismod, nunc ut aliquam aliquam, nunc
    </div>
</div>
