.recipe-blog {
    background: url(../../../assets/background/blogbg.png) center center  no-repeat;
    background-size: cover;
    height: 700px;
    padding-top: 20px;
    h1 {
        font-family: Open-sans;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        position: relative;
        padding-top: 50px;
        
        &:before {
            content: '';
            display: block;
            width: 45px;
            height: 3px;
            background: #1D741B;
            position: absolute;
            bottom: 0;
            left: 5px;
            border-radius:2px;
        }
    }
}