<div class="footer-container">
  <app-layout-template>
    <ul class="nav-links">
      <div class="create">
        <p class="title">Create free account</p>
        <li class="link">
          <a class="link-item" routerLink="/register">Sign in</a>
        </li>
        <li class="link"><a class="link-item" routerLink="/">About</a></li>
      </div>
      <div class="follow">
        <p class="title">Follow us</p>
        <li class="link"><a class="link-item" routerLink="/">Facebook</a></li>
        <li class="link"><a class="link-item" routerLink="/">Twitter</a></li>
        <li class="link"><a class="link-item" routerLink="/">Instagram</a></li>
        <li class="link"><a class="link-item" routerLink="/">Tiktok</a></li>
      </div>
      <div class="support">
        <p class="title">Support</p>
        <li class="link"><a class="link-item" routerLink="/">Contacts</a></li>
        <li class="link">
          <a class="link-item" routerLink="/">Terms & Condtition</a>
        </li>
        <li class="link">
          <a class="link-item" routerLink="/">Privacy Policy</a>
        </li>
      </div>
    </ul>
  </app-layout-template>
</div>
